body {
	font-family: Sour Gummy;
	color: rgb(255, 250, 184);
}

.container {
	background-color: rgb(202, 18, 18);
	padding: 15px;
	border-radius: 10px;
}

.btn {
	background-color: rgb(239, 87, 17);
	border-color: rgb(239, 87, 17);
}

.btn:hover {
	background-color: rgb(200, 84, 0);
	border-color: rgb(200, 84, 0);
}